/* this is the css for all */ 

body
{
    background-image:url('tweek1.png'); 
    background-repeat: repeat; 
}

.logo
{
	width: 150px;
    margin-top: 20px;
    border-radius: 85px;
}

#Heading
{
    margin-right: 1600px; 
    font-size: 50px;
    background-color: aliceblue;
    width: 500px;
    height: 70px;
    border-radius: 10px;
    font-family: 'Caveat';
}

#div1
{
    width: 500px;
    height: 30px;
    border-radius: 10px;
}

#div2
{
    background-color: rgb(238, 190, 220);
    height: 580px;
    width: 890px;
    margin-left:0px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgb(168, 167, 167);
}

#UsernameInput
{
    width: 350px;
    height: 50px;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgb(179, 219, 245);
    font-family:'Dancing Script';
    font-size: 20px;
}




#LoginButton
{
    width: 250px;
    height: 40px;
    border-width: 2px;
    border-style: groove;
    border-color: rgb(179, 219, 245);
    font-family: 'Dancing Script';
    font-size: 20px;
}

#Error
{
    color: red;
}
#error
{
    color: red;
}

#RoomUsername
{
    font-family: Dancing Script;
    font-size: 50px;
}

#AddRoom Button
{
    width: 250px;
    height: 40px;
    border-width: 2px;
    border-style: groove;
    border-color: rgb(179, 219, 245);
    font-family: 'Dancing Script';
    font-size: 20px;
}
 .message
 {
    font-family: 'Dancing Script'; 
    font-size:25px;
 }

 .like_button
{
    border-width: 2px;
    border-style: groove;
    border-color: rgb(179, 219, 245);
    font-family: 'Dancing Script';
    font-size: 20px;
}
.Dislike_button
{
    border-width: 2px;
    border-style: groove;
    border-color: rgb(179, 219, 245);
    font-family: 'Dancing Script';
    font-size: 20px;
}

#MSGoutput
{ 
    width: 850px; 
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    font-size:25px;
    background-color: rgb(238, 190, 220);
    box-shadow: 10px 10px 5px rgb(168, 167, 167);
    border-radius: 10px;
}

.NameClass
{
    font-family: 'Dancing Script'; 
    font-size:25px;
}

#output
{
    font-family: 'Dancing Script'; 
    font-size:25px;
    height:auto; 
    width: 870px; 
}
#terms
{
align-items:"left";
}